logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
rapport/*
!rapport/*.tex
public/tex
test.tex
public/htmltolatex/test.html
public/javascripts/generatePdf.js
public/fichiersLatexEisti/generatedTex.*
public/generation/*


